.mainBanner {
  position: relative;
  .center {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    right: 0;
    bottom: 0;
    display: flex;
    .container {
      display: flex;
    }
    .row {
      display: flex;
      align-items: center;
    }
    .left {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      height: 100%;
      justify-content: center;
    }
    .right {
      transform: translateX(-41%);
      left: 28%;
      position: relative;
      padding: 0;
    }
    h5 {
      z-index: 5;
      margin-bottom: 0;
      margin-top: 0;
      font-size: 48px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 2.3px;
      color: #ffffff;
    }
    a {
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.1px;
      text-align: right;
      color: #ffffff;
      width: 185px;
      text-align: center;
      margin-top: 15px;
    }
    p {
      font-size: 28px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.3px;
      color: #ffffff;
      margin-bottom: 50px;
    }
    .btn {
      padding: 15px 25px;
      border-radius: 0;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: normal;
      color: #fafbfc;
      &.btn-default {
        background-color: #ffffff;
        color: #1870e6;
      }
      &.btn-primary {
        background-color: #1870e6;
        color: #ffffff;
      }
    }
  }
  img {
    z-index: 5;
    position: relative;
    &.overImg {
      position: absolute;
      z-index: 10;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.theBenefits {
  .row {
    display: flex;
  }
  [class*="col-md"] {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    float: left;
    margin-right: 25px;
  }
  .box {
    h4 {
      font-size: 22px;
      font-weight: bold;
      color: #000000de;
      margin-bottom: 20px;
      margin-top: 0;
    }
    p {
      font-size: 18px;
      line-height: 1.67;
      color: #0000008a;
    }
  }
}

.howWeDoIt {
  ul {
    li {
      display: flex;
      div {
        .h2 {
          font-size: 23px;
          font-weight: 900;
          line-height: normal;
          letter-spacing: normal;
        }
        &:first-child {
          margin-right: 15px;
          .h2 {
            color: #1870e6;
          }
        }
        p {
          font-size: 18px;
          font-weight: normal;
          line-height: 1.67;
          letter-spacing: normal;
          color: rgba(0, 0, 0, 0.54);
        }
      }
    }
  }
}
.reviews {
  & > .col-md-12 {
    border-radius: 3px;
    border: solid 1px rgba(0, 0, 0, 0.18);
    text-align: center;
    padding: 5rem;
    background-image: url(/images/quotes.svg), url(/images/quotes-2.svg);
    background-repeat: no-repeat;
    background-position: 25px, 98% 160px;
  }
  h4 {
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 0.5px;
    color: #1870e6;
    margin-bottom: 3.5rem;
  }
  p {
    font-size: 18px;
    font-weight: normal;
    font-style: italic;
    line-height: 1.78;
    letter-spacing: 0.4px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
  }
}
.reviewsTab {
  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2px;
    &.active {
      border-top: 2px solid #1870e6;
    }
    & > div {
      display: flex;
      padding: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      img {
        margin-right: 15px;
      }
      h4 {
        font-size: 18px;
        font-weight: normal;
        line-height: 1.2;
        letter-spacing: 0.4px;
        text-align: center;
        color: rgba(0, 0, 0, 0.87);
        span {
          color: rgba(0, 0, 0, 0.42);
          width: 100%;
          display: block;
          text-align: left;
        }
      }
    }
  }
}
