// Margin and Padding
$top:0;
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
) !default;
@each $prop, $abbrev, $top in (margin: m, padding: p, top:t){
  @each $size, $length in $spacers {
    .#{$abbrev}-#{$size}  { #{$prop}:        $length !important; }
    .#{$abbrev}t-#{$size} { #{$prop}-top:    $length !important; }
    .#{$abbrev}r-#{$size} { #{$prop}-right:  $length !important; }
    .#{$abbrev}b-#{$size} { #{$prop}-bottom: $length !important; }
    .#{$abbrev}l-#{$size} { #{$prop}-left:   $length !important; }
    .#{$abbrev}x-#{$size} {
      #{$prop}-right: $length !important;
      #{$prop}-left:  $length !important;
    }
  }
}

