@import "./footer";

img {
  max-width: 100%;
}
body {
  font-family: "Open Sans", sans-serif;
}
section {
  padding-top: 50px;
  padding-bottom: 50px;
  &:first-of-type {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.heading {
  font-size: 32px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000de;
  margin-bottom: 40px;
  margin-top: 0px;
}
.dark {
  background-color: rgba(243, 245, 245, 0.5);
  .heading {
    color: #1870e6;
  }
}

.navbar-default {
  background: #00000012;
  min-height: 80px;
  border: 0;
  transition: 0.2s linear;
  &.sticky {
    background-color: #053793;
    box-shadow: 0 2px 14px 0 rgba(1, 1, 1, 0.1);
    .menu-item {
      &.login {
        span {
          // color: $color_blue;
          // border-color: $color_blue;
        }
      }
    }
  }
  .navbar-brand {
    float: left;
    height: 80px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
  }
}

.banner {
  position: relative;
  img {
    width: 100%;
  }
  .center {
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    h5 {
      z-index: 5;
      margin-bottom: 30px;
      margin-top: 0;
      font-size: 48px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 2.3px;
      text-align: center;
      color: #ffffff;
    }
    p {
      font-size: 28px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: 0.3px;
      text-align: center;
      color: rgba(250, 251, 252, 0.73);
      margin-bottom: 50px;
      width: 33%;
    }
    .btn {
      padding: 15px 50px;
      border-radius: 47px;
      font-size: 18px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      &.btn-default {
        background-color: #ffffff;
        color: #1870e6;
      }
      &.btn-primary {
        background-color: #1870e6;
        color: #ffffff;
      }
    }
  }
}

.clientLogo {
  .logoRow {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    img {
      max-width: 280px;
      max-height: 100%;
      width: auto;
      height: auto;
    }
    &:nth-child(2n) {
      justify-content: space-around;
    }
    &:last-child {
      justify-content: space-around;
    }
  }
}
