@import "base";
@import "variables";
@import "flex";
@import "display";
@import "position";
@import "spacing";
@import "text";

@import "footer";
@import "menu";
@import "home";
@import "candidates";
@import "responsive";

// Loader
#app {
    background: #053894;
    height: 100vh;
    &:not(:empty) {
        background: #fff;
        height: initial;
        & + .lds-ring {
            display: none;
        }
    }
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 84px;
    height: 84px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -42px;
    margin-left: -42px;
    z-index: 444;
    div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border: 6px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;
        &:nth-child(1) {
            animation-delay: -0.45s;
        }
        &:nth-child(2) {
            animation-delay: -0.3s;
        }
        &:nth-child(3) {
            animation-delay: -0.15s;
        }
    }
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.banner {
    position: relative;
    img {
        width: 100%;
    }
    .center {
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
        left: 50%;
        width: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        flex-direction: column;
        h5 {
            z-index: 5;
            margin-bottom: 30px;
            margin-top: 0;
            font-size: 48px;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 2.3px;
            text-align: center;
            color: #ffffff;
        }
        p {
            font-size: 28px;
            font-weight: 300;
            line-height: normal;
            letter-spacing: 0.3px;
            text-align: center;
            color: rgba(250, 251, 252, 0.73);
            margin-bottom: 50px;
            width: 33%;
        }
        .btn {
            padding: 15px 35px;
            border-radius: 47px;
            font-size: 18px;
            font-weight: 600;
            line-height: normal;
            letter-spacing: normal;
            &.btn-default {
                background-color: #ffffff;
                color: #1870e6;
            }
            &.btn-primary {
                background-color: #1870e6;
                color: #ffffff;
            }
        }
    }
}

.clientLogo {
    padding: 0 15px;
    .logoRow {
        &.mobile {
            display: none;
        }
        height: 70px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px 0;
        img {
            max-width: 280px;
            max-height: 100%;
            width: auto;
            height: auto;
        }
        &:nth-child(2n) {
            justify-content: space-around;
        }
        &:last-child {
            justify-content: space-around;
        }
    }
}

.companies {
    position: relative;
    overflow: hidden;
    .companies-strip {
        background: url("/images/mobileStrip.png") repeat-x;
        height: 100px;
        background-size: contain;
        object-fit: contain;
        width: 5076px;
        animation: slide 60s linear infinite;
    }
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-1692px, 0, 0);
    }
}
