@media (max-width: 1023px) {
  .row {
    margin: 0;
  }
  .heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  section {
    padding-top: 20px;
    padding-bottom: 20px;
    &:first-of-type {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
  .banner {
    .container-fluid {
      padding: 0;
    }
  }
  .mainBanner {
    position: relative;
    .center {
      .right {
        // display: none;
      }
      h5 {
        font-size: 2.5rem;
      }

      p {
        font-size: 2rem;
        margin-bottom: 50px;
      }
    }
    img {
      height: 80vh;
    }
  }

  .clientLogo {
    padding: 0 30px;
    .logoRow {
      display: none;
      &.mobile {
        display: flex;
        justify-content: space-evenly;
      }
      height: auto;
      width: 100%;
      flex-wrap: wrap;
      flex-direction: row;
      img {
        max-height: 60px;
        margin: 15px 10px;
        max-width: 90px;
      }
    }
  }

  .theBenefits {
    .row {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    [class*="col-md"] {
      padding: 15px;
      display: flex;
      flex-direction: column;
    }
    img {
      margin-right: 0;
      margin-bottom: 15px;
    }
    .box {
      text-align: center;
    }
  }

  .howWeDoIt {
    ul {
      li {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        div {
          margin: 0;
          .h2 {
            font-size: 18px;
            margin-top: 0;
          }
          &:first-child {
            margin-right: 0;
            .h2 {
              color: #1870e6;
              margin-bottom: 0;
              margin-top: 15px;
            }
          }
          p {
            font-size: 16px;
            font-weight: normal;
            line-height: 1.67;
            letter-spacing: normal;
            color: rgba(0, 0, 0, 0.54);
          }
        }
      }
    }
  }

  .reviews {
    & > .col-md-12 {
      padding: 2rem;
      background-position: 15px 75px, 98% 340px;
    }
  }

  .banner {
    position: relative;
    .center {
      transform: translateX(-50%) translateY(-50%);
      top: 50%;
      left: 50%;
      width: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      flex-direction: column;
      h5 {
        z-index: 5;
        margin-bottom: 15px;
        margin-top: 0;
        font-size: 22px;
        line-height: 1;
      }
      p {
        font-size: 18px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.3px;
        text-align: center;
        color: rgba(250, 251, 252, 0.73);
        margin-bottom: 50px;
        width: 33%;
      }
      .btn {
        padding: 10px 15px;
        border-radius: 47px;
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 800px) {
  .row {
    margin: 0;
  }
  .heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  section {
    padding-top: 20px;
    padding-bottom: 20px;
    &:first-of-type {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
  .banner {
    .container-fluid {
      padding: 0;
    }
    &.candidate {
      .center {
        p {
          width: 100%;
          margin-bottom: 15px;
        }
      }
      img {
        min-height: 50vh;
        width: auto;
      }
    }
  }
  .mainBanner {
    position: relative;
    .center {
      .right {
        display: none;
      }
      h5 {
        font-size: 2rem;
      }

      p {
        font-size: 18px;
        margin-bottom: 50px;
      }
    }
    img {
      height: 80vh;
    }
  }

  .clientLogo {
    padding: 0 30px;
    .logoRow {
      display: none;
      &.mobile {
        display: flex;
        justify-content: space-evenly;
      }
      height: auto;
      width: 100%;
      flex-wrap: wrap;
      flex-direction: row;
      img {
        max-height: 60px;
        margin: 15px 10px;
        max-width: 90px;
      }
    }
  }
  .howWeDoIt {
    ul {
      li {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        div {
          margin: 0;
          .h2 {
            font-size: 18px;
            margin-top: 0;
          }
          &:first-child {
            margin-right: 0;
            .h2 {
              color: #1870e6;
              margin-bottom: 0;
              margin-top: 15px;
            }
          }
          p {
            font-size: 16px;
            font-weight: normal;
            line-height: 1.67;
            letter-spacing: normal;
            color: rgba(0, 0, 0, 0.54);
          }
        }
      }
    }
  }

  .reviews {
    & > .col-md-12 {
      padding: 2rem;
      background-position: 15px 75px, 98% 340px;
    }
  }

  .banner {
    position: relative;
    .center {
      transform: translateX(-50%) translateY(-50%);
      top: 50%;
      left: 50%;
      width: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      flex-direction: column;
      h5 {
        z-index: 5;
        margin-bottom: 15px;
        margin-top: 0;
        font-size: 22px;
        line-height: 1;
      }
      p {
        font-size: 18px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.3px;
        text-align: center;
        color: rgba(250, 251, 252, 0.73);
        margin-bottom: 50px;
        width: 33%;
      }
      .btn {
        padding: 10px 15px;
        border-radius: 47px;
        font-size: 12px;
      }
    }
  }

  .howToWork {
    h2 {
      margin-bottom: 20px;
      margin-top: 20px;
    }

    .timeline {
      &:after {
        top: 15px;
        bottom: 130px;
        left: 20px;
        margin-left: 0;
      }
      .item {
        width: 100%;
        padding: 10px 20px;
        &:after {
          left: 14px;
          top: 12px;
        }
        &:before {
          left: 50%;
          top: 50%;
          z-index: -10;
          transform: translateX(-50%) translateY(-40%);
        }
        &.left {
          left: 0;
          text-align: left;
          &:before {
            left: 50%;
            top: 50%;
            z-index: -10;
            transform: translateX(-50%) translateY(-40%);
          }
        }

        &.right {
          left: 0;
          text-align: left;
          &:before {
            left: 50%;
            top: 50%;
            z-index: -10;
            transform: translateX(-50%) translateY(-40%);
          }
          &:after {
            left: 14px;
            top: 12px;
          }
        }
        .content {
          padding: 0 30px;
          position: relative;
          h3 {
            font-size: 18px;
          }
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
  .benefits {
    .row {
      flex-direction: column;
      .col-md-6 {
        margin-bottom: 40px;
      }
    }
  }
  .stories {
    .row {
      .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 60px 20px 20px 20px;
        margin-top: 40px;
        margin-bottom: 20px;
        img {
          top: 0;
          left: 50%;
          width: 100px;
          height: 100px;
        }
      }
      &:nth-child(odd) {
        .box {
          padding: 60px 20px 20px 20px;
          img {
            top: 0;
            left: 50%;
            width: 100px;
            height: 100px;
          }
        }
      }
    }
  }
  .bannerNew {
    .container-fluid {
      padding: 0;
      .center {
        h5 {
          font-size: 22px;
          margin-bottom: 10px;
        }
        .btn {
          padding: 10px 20px;
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 630px) {
  .row {
    margin: 0;
  }
  .heading {
    font-size: 24px;
    margin-bottom: 20px;
  }
  section {
    padding-top: 20px;
    padding-bottom: 20px;
    &:first-of-type {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
  .banner {
    .container-fluid {
      padding: 0;
    }
  }
  .mainBanner {
    position: relative;
    .center {
      .right {
        display: none;
      }
      h5 {
        font-size: 2rem;
      }

      p {
        font-size: 18px;
        margin-bottom: 50px;
      }
    }
    img {
      height: 80vh;
    }
  }

  .theBenefits {
    .row {
      display: flex;
      flex-direction: column;
    }
    [class*="col-md"] {
      padding: 15px;
      display: flex;
      flex-direction: column;
    }
    img {
      margin-right: 0;
      margin-bottom: 15px;
    }
    .box {
      text-align: center;
    }
  }

  .howWeDoIt {
    ul {
      li {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        div {
          margin: 0;
          .h2 {
            font-size: 18px;
            margin-top: 0;
          }
          &:first-child {
            margin-right: 0;
            .h2 {
              color: #1870e6;
              margin-bottom: 0;
              margin-top: 15px;
            }
          }
          p {
            font-size: 16px;
            font-weight: normal;
            line-height: 1.67;
            letter-spacing: normal;
            color: rgba(0, 0, 0, 0.54);
          }
        }
      }
    }
  }

  .reviews {
    & > .col-md-12 {
      padding: 2rem;
      background-position: 15px 75px, 98% 340px;
    }
  }
  .reviewsTab {
    & > div {
      justify-content: flex-start;
      border-left: 2px solid transparent;
      border-top: 0;
      margin-top: 1px;
      &.active {
        border-color: #1870e6;
        background: #f0f0f0;
        border-left: 2px solid #1870e6;
      }
      & > div {
        padding: 10px 0px;
      }
    }
  }
  .banner {
    position: relative;
    .center {
      transform: translateX(-50%) translateY(-50%);
      top: 50%;
      left: 50%;
      width: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      flex-direction: column;
      h5 {
        z-index: 5;
        margin-bottom: 15px;
        margin-top: 0;
        font-size: 22px;
        line-height: 1;
      }
      p {
        font-size: 18px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.3px;
        text-align: center;
        color: rgba(250, 251, 252, 0.73);
        margin-bottom: 50px;
        width: 33%;
      }
      .btn {
        padding: 10px 15px;
        border-radius: 47px;
        font-size: 12px;
      }
    }
    &.candidate {
      .center {
        p {
          width: 100%;
          margin-bottom: 15px;
        }
      }
      img {
        min-height: 50vh;
        width: auto;
      }
    }
  }

  .howToWork {
    h2 {
      margin-bottom: 20px;
      margin-top: 20px;
    }

    .timeline {
      &:after {
        bottom: 175px;
      }
      .item {
        width: 100%;
        padding: 10px 20px;
        &:before {
          left: 50%;
          top: 50%;
          z-index: -10;
          transform: translateX(-50%) translateY(-40%);
        }
        &.left {
          left: 0;
          text-align: left;
          h3:before {
            left: -33px;
          }
          &:before {
            left: 50%;
            top: 50%;
            z-index: -10;
            transform: translateX(-50%) translateY(-40%);
          }
        }

        &.right {
          left: 0;
          text-align: left;
          h3:before {
            left: -33px;
          }
          &:before {
            left: 50%;
            top: 50%;
            z-index: -10;
            transform: translateX(-50%) translateY(-40%);
          }
          &:after {
            left: 14px;
            top: 12px;
          }
        }
        .content {
          padding: 0 30px;
          position: relative;
          h3 {
            font-size: 18px;
          }
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
  .benefits {
    .row {
      flex-direction: column;
      .col-md-6 {
        margin-bottom: 40px;
      }
    }
  }
  .stories {
    .row {
      .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 60px 20px 20px 20px;
        margin-top: 40px;
        margin-bottom: 20px;
        img {
          top: -50px;
          left: 50%;
          width: 100px;
          height: 100px;
        }
      }
      &:nth-child(odd) {
        .box {
          padding: 60px 20px 20px 20px;
          img {
            top: -50px;
            left: 50%;
            width: 100px;
            height: 100px;
          }
        }
      }
    }
  }
  .bannerNew {
    .container-fluid {
      padding: 0;
      .center {
        h5 {
          font-size: 22px;
          margin-bottom: 10px;
        }
        .btn {
          padding: 10px 20px;
          font-size: 14px;
        }
      }
    }
  }
}
